body {
    background: white;
    font-family: sans-serif;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid black;
    background: white;
}
form {
    width:60%;
    margin:auto;
   padding-bottom:50px; 
}
table{
     border:1px solid blue;
    width:100%;
    margin:auto;
     align-content:center;
    
}
.tr{
    empty-cells:show;
       border:1px solid blue;
    text-align:center;
   }


.error {
    color: red;
}

.field_name {
    width: 250px;
    float: left;
    clear: both;
}

.field {
    width: 250px;
    align-content:center;
}

h1, h3, h4 {
    text-align: center;
   
}
 h2 {
    text-align: center;
    color:green;
}

footer {
    clear: both;
}